

#login-form-container {
    display: flex;
    justify-content: flex-end;
}

#login-form {
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#login-modal-body {
    font-size: 400%
}