



.navbar .btn {
  font-size: 2rem;
  padding: 0.75rem 1.5rem;
}

.navbar .form-control {
  font-size: 2rem;
  padding: 0.75rem 1rem;
}

.navbar .navbar-brand {
  font-size: 3rem;
  font-weight: bold;
}

.navbar .dropdown-menu {
  font-size: 1.5rem;
}


.nested-dropdown-toggle::after {
  display: none !important;
}

.navbar .dropdown .dropdown-menu {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.dropdown-item {
  background-color: rgba(70, 70, 70, 0.5);
}

.dropdown-item.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: rgb(70, 70, 70) !important;
}

.dropdown-item.disabled:hover {
  background-color: rgb(70, 70, 70) !important;
}